.volkhov {
    font-family: 'Volkhov', serif;
}

.text-white{
    color: white;
}

.salmon-text{
color: salmon;
}

.nunito-font{
font-family: 'Nunito Sans';
}

.font-weight-12{
font-weight: 550;
}

.blue-text{
color: cadetblue;
}