.black-bg{
background: black;
}

.white-bg{
background: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  flex: 1;
}

.font-15{
font-size: 15px;
}

.center-align{
align: center;
}

.mar-neg-4{
margin-top: -1px;
}

.pink-bg{
background: #b72a72;
}

.salmon-bg{
background: salmon;
}

.font-25{
font-size: 25px;
}

.gold-bg{
background: Brown;
}

.size-it-img{
height: 210px;
width: 210px;
}

.size-it-rest{
font-size: 27px;
}

.size-username{
font-size: 13px;
}

.size-dp-img{
width: 80px;
height: 80px;
}

@media screen and (max-width: 990px) {
  .size-dp-img {
        width: 75px;
        height: 75px;  }
}

@media screen and (max-width: 576px) {
  .size-dp-img {
        width: 60px;
        height: 60px;
  }
}

.size-block{
margin-left: 0px;
font-size: 20px;
}

@media screen and (max-width: 1100px) {
  .size-block {
margin-left: 0px;
  }
}


@media screen and (max-width: 990px) {
  .size-block {
margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .size-block {
margin-left: 0px;
  }
}

@media screen and (max-width: 576px) {
  .size-block {
margin-left: 0px;
  }
}

@media screen and (max-width: 574px) {
  .size-block {
margin-left: 0px;
  }
}

@media screen and (max-width: 1300px) {
  .size-it-img {
height: 170px;
width: 170px;
  }
}

@media screen and (max-width: 1200px) {
  .size-it-img {
height: 150px;
width: 150px;
  }
}

@media screen and (max-width: 990px) {
  .size-it-img {
height: 145px;
width: 145px;
  }
}

@media screen and (max-width: 768px) {
  .size-it-img {
height: 140px;
width: 140px;
  }
}

@media screen and (max-width: 1200px) {
  .size-it-rest {
font-size: 23px;
  }
}

@media screen and (max-width: 991px) {
  .size-it-rest {
    font-size: 20px;
  }
}