.link-salmon {
  text-decoration: none;
  color: white;
}

.link-salmon:hover {
  color: salmon;
}

.link-white {
  text-decoration: none;
  color: white;
}

.link-white:hover {
  color: white;
}

.profile-picture {
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.h1-inline {
  font-size: 2.5rem;
}

.h2-inline {
  font-size: 2.0rem;
}

.nudge-down {
  margin-top: 5px;
}

.text-gray {
  color: gray;
}

.no-margin-left{
  margin-left: 0px;
}

.no-margin-bottom{
  margin-bottom: 0px;
}